body {
  margin: 0px;
}

.header-style {
  background-color: #2B3499;
  display: flex;
  padding: 1cqmin;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header-logo {
  margin-block: 0px;
  color: antiquewhite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

&::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#header button {
  color: white;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: #2B3499;

  font-size: x-large;
  margin: 0rem 2rem;
}

#header button:hover {
 box-shadow: 0 3px 0px 0px #FF9209;
 color: #FF9209;
}
