/* General Styles */


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, #4e6994, #1c3b5a);
  overflow: hidden;
}


.main-content {

  
}
.start-cointainer {
  display: flex;
  justify-content: center;
  margin: 19%;
  padding: 0%;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.video-container {
  position: relative; /* Add this to position elements inside the video */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #007BFF;
  padding-bottom: 0;
  
 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.grammar-container, .info-container {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
height: 30rem;
  transition: all 700ms ease-in-out;
}

.primary-button {
  background-color: #FF4500; /* Darker coral color */
  position: absolute;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 32px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.next-button {
 
 right: 0;
 top: 45%;
 border-radius: 20px 0px 0px 20px;
 padding: 20px 10px;
}

.previous-button {
  left: 0;
  top: 45%;
  border-radius: 0px 20px 20px 0px;
  padding: 20px 10px;
}

.answer-button-left, .answer-button-right  {
  background-color: white; /* Darker coral color */
  width: 50%;
  height: 150px;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.315);
  overflow: hidden;
  padding: 15px;
  border: black;
  border-width: 1px;
  border-style:solid;
  border-radius: 25px;
}

.answer-button-left {
  margin-right: 10px;
}


.primary-button:not(:disabled):hover {
  background-color: #CC3700; /* Even darker coral on hover */
  transform: translateY(-2px);
}

.primary-button:disabled {
  background-color: #cccccc; /* Change background color */
  color: #666666;           /* Change text color */
  cursor: not-allowed;      /* Change cursor to indicate it's disabled */
  opacity: 0.6; 
}

#controllers {
  display: flex;
  justify-content:space-between;
  margin-top: 1rem;
  max-width: 1024px;
 
}

.text-padding {
  padding: 10px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.video-subtitle {
  background-color: rgba(0, 0, 0, 0.7);
  color: aliceblue;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 100;
  margin-bottom: 10px; /* Add some margin to separate from the button */
  display: none;
}

.subtitle-on-off {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5%;
  transition: 300ms;
  cursor: pointer;
  
}

.subtitle-on-off:hover {
  background-color: rgba(159, 249, 250, 0.8);
  border-radius: 16px;
  transition: 300ms;
}

.inside-video {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
    justify-content: space-between;
  }


  .grammar-container, .info-container {
    flex: 1 1 35%;
    margin: 1% 2%;
  }
}

@media (max-width: 767px) {
  .video-container, .grammar-container, .info-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .text-padding {
    font-size: 16px;
  }

  .primary-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 1366px) {
  .video-container, .grammar-container, .info-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .text-padding {
    font-size: 14px;
  }

  .primary-button {
    padding: 8px 16px;
    font-size: 18px;
  }
}


/* Hide the default checkbox */
.container input {
  display: none;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #30cfd0;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #30cfd0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}